@import 'variable';

body {
  font-weight: 600;
}

.bg-green {
  background-color: $blue;
}
.bg-white {
  background-color: #ffffff;
}
.opacity-75 {
  opacity: 0.75;
}
.p1 {
  padding:25px;
}
.btn {
  padding: 15px;
}

//text formatting

.uppercase {
  text-transform: uppercase;
}
.center {
  display: block;
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.text-green {
  color: $blue;
}
.error {
  color: red;
}

.button-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-between;
}


//overrides {
#mainNav.navbar {
  background-color: $blue;
  border-bottom: solid 1px #64a19d;
}
.project {
  margin-top: 20px;
  border-radius: 10px;
  border-bottom: 0.25rem solid #64a19d;
}
.projects-section {
  padding: 20px;
  .project-text {
    padding: 40px;
  }
}
@media only screen and (max-width: 425px) {
  .project {
    margin-left: -15px;
    margin-right: -15px;
  }
  .projects-section {
    padding: 20px;
    .project-text {
      padding: 20px;
    }
  }
}
.project-heading {
  width: 100%;
  border-radius: 20px;
  color: white;
  background-color: $blue;
  padding: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.project-text {
  color: $blue;
}

//loader

$c-front : #FFFFFF;
$c-hilight : #FFFFFF;

.svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane { fill: $c-hilight; }
.cal-loader__path { stroke: $c-front; animation: 1.4s ease-in-out infinite loader-path; }

@keyframes loader-spin {
  to{
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0%{
    stroke-dasharray:  0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50%{
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100%{
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}
