<table class='table'>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Meal Choice</th>
  </tr>
  {{#each guests as |guest|}}
    <tr scope='row'>
      <td>{{guest.name}}</td>
      <td>
        {{meal-picker showMealError=showMealError meals=meals guest=guest}}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        Dietary Requirements
        {{textarea value=guest.dietaryRequirements class="full-width" row=4}}
      </td>
    </tr>
  {{/each}}
</table>
