{{#if isPending}}
  {{svg-loader}}
{{else}}
  <div class="bg-white opacity-75 p1">
    <h3>Pick your in-flight meal</h3>
    {{meal-container
      guests=model.guestsThatAreComing
      meals=meals
      showMealError=showMealError}}
    {{#if showModelSaveError}}
      <div class="error">
        There was a problem updating out records, please try again.
      </div>
    {{/if}}
    <div class='button-container'>
      {{#link-to 'home.booking.guests' model class='btn btn-primary'}}
        &lt; Back
      {{/link-to}}
      <button class='btn btn-primary' {{action 'submit' model}}>Submit ></button>
    </div>
  </div>
{{/if}}
