{{#if model.isPending}}
  {{svg-loader}}
{{else}}
  <div class="bg-white opacity-75 p1">
    <h3>Thank you for letting us know.</h3>
    <p>
      We're sorry to hear that you're not coming.
    </p>
  </div>
{{/if}}
