{{#if model.guests.isPending}}
  {{svg-loader}}
{{else}}
  <div class="bg-white opacity-75 p1">
    <h3>Confirm Guests</h3>
    <table class='table'>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">RSVP</th>
      </tr>
      {{#each model.guests as |guest|}}
        <tr scope='row'>
          <td>{{guest.name}}</td>
          <td>
            {{rsvp-comp guest=guest}}
          </td>
        </tr>
      {{/each}}
    </table>
    {{#link-to 'home.booking.pick-meal' model class='btn btn-primary'}}Next >{{/link-to}}
  </div>
{{/if}}
