<div class="bg-white opacity-75 p1 text-center text-green">
  <h3>You're all booked!</h3>
  <p>We look forward to seeing you at our wedding!</p>
  <!-- <<p>If you would like a confirmation email and to be kept up to date please put your email below and click submit</p>
  <label class="mb1" for='email'>Email:</label>
  {{input name='email' type='email'
    value=model.email
    focus-out=(action (mut showEmailError) true)
  }}
  <button class='btn btn-primary' {{action 'confirmationEmail' model}}>Submit ></button>
  {{#if showEmailError}}
    <div class="error">
      {{v-get model 'email' 'message'}}
    </div>
  {{/if}} -->
  <p>For more information for the big day please check below or the navigation on the top right</p>
</div>
