<!-- Projects Section -->
<section id="projects" class="projects-section bg-green">
  <div class="container">
    <!-- Featured Project Row -->
    <!-- <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <div class='mb-3 mb-lg-0'>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Location</h4>
          <p class="text-black-50 mb-0">
            Add a really detailed bit of information about the venue.(Make sure we add the correct lats and longs).
          </p>
        </div>
      </div>
    </div> -->
    <!-- Project One Row -->
    <div class="row justify-content-center">
      <div id="location" class="col-lg-6 mb-5">
        <div class="bg-white text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 text-center text-lg-left">
              <h4 class="project-heading">Map of Location</h4>
              <p class="uppercase text-center">
                Sat nav: Priory Hall, Benton Street, Hadleigh, Suffolk IP7 5AZ
              </p>
              <img src="/img/map-01.svg" alt="Map" class="full-width">
            </div>
          </div>
        </div>
      </div>
      <div id="accomodation" class="col-lg-6 mb-5">
        <div class="bg-white text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 text-center text-lg-left">
              <h4 class="project-heading">Accomodation</h4>
              <p>
                If you're travelling from far away or you would like to stay please see some nearby hotels:
              </p>
              <p class="uppercase text-center">
                Penta Hotel, Ranelagh Road,<br>
                Ipswich, IP2 0AD<br>
                Tel : 01473 694 604<br>
                Website: www.pentahotels.com
              </p>
              <p class="uppercase text-center">
                Chantry park - Premier inn, Old Hadleigh Road,<br>
                Ipswich, IP8 3AR<br>
                Tel: 0333 003 8101<br>
                Website: www.premierinn.com
              </p>
              <p class="text-center">
                There is ample parking available on site and cars can be left overnight. However they must be collected by 11am the following day. If you'd like to join in on the party please see below contact numbers for local taxi companies:
              </p>
              <p class="text-center">Hawk Express: <a href="tel:01473222222">01473 222222</a></p>
              <p class="text-center">Hadleigh Private Car Hire: <a href="tel:01473829700">01473 829700</a></p>
              <p class="text-center">Ecocars: <a href="tel:01473828384">01473 828384</a></p>
              <p class="text-center">HA & L Private Hire: <a href="tel:01473356277">01473 356277</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div id="gifts" class="col-lg-6 mb-5">
        <div class="bg-white text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 text-center text-lg-left">
              <h4 class="project-heading">Gifts</h4>
              <p class="text-center">
                We know it's not traditional,<br>
                it's not the way it's done,<br>
                but instead of pots and pans<br>
                we'd like a little fun!<br>
                So if you'd like to give a gift<br>
                to help us celebrate,<br>
                some help towards our honeymoon,<br>
                we would appreciate!<br>
                The choice is really up to you<br>
                and we would like to say,<br>
                that the best gift we could recieve<br>
                is you here on our special day!
              </p>
              <img src="/img/plane-heart.svg" class="half-width center" alt="Heart">
            </div>
          </div>
        </div>
      </div>
      <div id="orderOTDay" class="col-lg-6 mb-5">
        <div class="bg-white text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 text-center text-lg-left">
              <h4 class="project-heading">Order of the Day</h4>
              <p class="text-center">
                Guest arrive 1:30pm<br>
                Ceremony: 2:00pm<br>
                Followed by day reception of<br>
                afternoon tea, lawn games & fish & chip dinner<br>
              </p>
              <p class="text-center">
                Evening guests arrive & the party begins at 7:30pm:<br>
                Food, drinks and dancing.<br>
                Please note there will be a cash bar accepting cash & cards.<br>
                Carriages at 11:30pm
              </p>
              <p class="text-center">
                We would like everyone on the dance floor so please pick a song to add to the party!
                <a href="https://open.spotify.com/user/gxmsvapfbynfnzgatbj62zw2c/playlist/24dL1OOJtiEEyM5uWyQJd4?si=ZLNS1UAqQYKgJPrCkTDHrQ" target="_blank">
                  Click here to add a song to our spotify playlist.
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
